[data-kind="tool-error-card"] {
  opacity: 0.5;

  [data-component="tool-error-card-icon"] [data-component="icon"] {
    color: var(--icon-base);
  }

  [data-slot="basic-tool-tool-title"] {
    color: var(--text-base);
    font-weight: var(--font-weight-regular);
  }
}
